@model IEnumerable<Product>

<div class="container">
    <h2 class="text-center mt-4 mb-4">Product List</h2>
    <div class="text-center my-3">
        <a asp-action="Create" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
            Create
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">ImageUrl</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="text-center">@product.ProductId</td>
                        <td class="text-center">
                            <img class="border border-light shadow rounded" width="50" src="@product?.ImageUrl" alt="@product?.ProductName">
                        </td>
                        <td class="text-center">@product.ProductName</td>
                        <td class="text-center">@product.Price.ToString("c")</td>
                        <td class="text-center">
                            <div class="btn-group btn-block">
                                <a asp-action="Update" asp-route-id="@product.ProductId" class="btn btn-warning btn-block">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-block" asp-action="Delete" asp-route-id="@product.ProductId">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>
                                <a target="_blank" class="btn btn-info btn-block" asp-action="Get" asp-controller="Product"
                                    asp-area="Product" asp-route-id="@product.ProductId">
                                    <i class="fa fa-eye"></i>
                                    View
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
